.heading{
  font-size: 30px;
}
.mainPage{
  width:40%;
  margin:0 auto;
  margin-top: 10%;
}
.mainPage span{
  font-size: 30px;
}
.review{
  position: relative;
}
.review .left, .step2 .left, .step1 .left{
  width:20%;
  margin-left: 5%;
  display: inline-block;  
}
.review .right, .step2 .right , .step1 .right{
  width:70%;
  display: inline-block;
}
.review .right span{
  padding-right: 10%;
}
.step2 b{
  padding-right: 10%;
}
.step2 .right .specs{
  background-color: #ededed;
  padding: 10px;
}
.step2 .right .specs span{
  padding-right: 10%;
}
